<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- make the form to register details -->

    <form id="about-me" action="/users" method="POST">
        <label>About Me:</label>
        <input type="text" name="about" >
        <br><br>
        <label>My interests:</label>
        <input type="text" name="interests" >
        <br><br>
        <label>Date of Birth:
            <input type="date" name="dob">
        </label>
        <br><br>
        <label>City:</label>
        <input type="text" name="city">
        <br><br>
        <label>Phone Number:</label>
        <input type="number" name="phoneNo">
        <!-- <br><br>
        <label>Ranking:</label>
        <select name="ranking">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> -->
        <br><br>
        <!-- <form>
            <label>Gender:
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
            </label>
          </form> -->
          <br><br>
          
        <input type="submit" value="Update Profile">
      </form>
    
</body>
</html>


<!--About me text area
    email
    phone number
    city
    dob


-->