body {
  background-image: url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2616&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin-top:20px;
}

a {
  color: #00B7FF;
}



.nav-wrapper {
  background-color: blanchedalmond;
  margin-right: 50px;
}

.right {
  background-color: coral;
}

.right:hover {
  background-color: darkorange;
}

.brand-logo {

color:coral;
}

.sentence {
color:white;
font-size: 20px;
margin-top: 30%;
margin-left: 50%;
}