<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>

      body{
        text-align: center;
        background-image: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
        background-size: cover;
        font-size:20px;
        color:blanchedalmond;
      }

     
    </style>
</head>
<body>

<div class="container">
    <form id="about-me" action="/users" method="POST">
        <label>About Me:
          <input type="text" name="about" >
        </label>
        <br><br>
        <label>My interests:
          <input type="text" name="interests" >
        </label>
        <br><br>
        <label>Date of Birth:
            <input type="date" name="dob">
        </label>
        <br><br>
        <label>City:
          <input type="text" name="city">
        </label>
        <br><br>
        <label>Phone Number:
          <input type="number" name="phoneNo">
        </label>
        <br><br>
        <input type="submit" value="Update Profile">
      </form>
    </div>
    
</body>
</html>

